<div class="card siderbar-widget reset">
  <h6 class="widget-title">
      <span>分类目录</span>
  </h6>
  <ul class="widget-body">
    <% site.categories.map(function(category){ %>
      <li class="widget-list-item">
          <a href="categories/#<%= category.name %>">
            <%= category.name %> (<%= category.length %>)
          </a>
      </li>
    <% }) %>
  </ul>
</div>