<%
    var hasVisitted = false;
%>
<script>
 if (typeof window !== undefined) {
    hasVisitted = localStorage.getItem('ALREADY_ENTER_BEFORE');
}
</script>
<% if (is_home() & !hasVisitted) { %>
<%- partial('_partial/index-cover') %>
<% } %>

<main id="blogEntryAnchor" class="row main page-home">
    <!-- Post Container -->
    <div class="col s12 m9 main-body">
        <%- partial('_partial/recent') %>
    </div>

    <!-- Sidebar Container -->
    <div class="col s12 m3 no-padding sidebar-container">
        <%- partial('_partial/siderbar') %>
    </div>
</main>
