<%
    var hasVisitted = false;
%>
<script>
 if (typeof window !== undefined) {
    hasVisitted = localStorage.getItem('ALREADY_ENTER_BEFORE');
}
</script>
<% if (is_home() & !hasVisitted) { %>
<%- partial('_partial/index-cover') %>
<% } %>

<main class="row container body">
    <!-- Post Container -->
    <div class="col s12 m9 main with-sidebar">
        <%- partial('_partial/recent') %>
    </div>

    <!-- Sidebar Container -->
    <div class="col s12 m3 no-padding sidebar">
        <%- partial('_partial/siderbar') %>
    </div>
</main>
