<% if (is_home() && page.current === 1) { %>
<%- partial('_partial/index-cover') %>
<% } else { %>
    <%- partial('_partial/bg-cover') %>
<% } %>

<main id="blogEntryAnchor" class="content">
    <div class="row container home-container">
        <!-- Post Container -->
        <!-- 最新文章 -->
        <div class="col s12 m9 recent-list">
            <%- partial('_widget/recent') %>
        </div>

        <!-- Sidebar Container -->
        <div class="col s12 m3">
            <%- partial('_partial/siderbar') %>
        </div>
    </div>
</main>
