<% if (site.posts.length){ %>
  <div class="card siderbar-widget reset">  
    <h6 class="widget-title">
      <span>最新文章</span>
    </h6>
    <div class="widget-body">
      <%- list_posts({
        type: 'monthly',
        orderby: 'date',
        order: -1,
        amount: 20,
        class: 'widget'
      }) %>
    </div>
  </div>
<% } %>