<div class="input-group">
  <input
    type="text"
    id="searchInput"
    class="browser-default form-control"
    placeholder=""
    aria-label="">

    <button type="button" class="search-btn" id="localSearchBtn">
      <span class="fa fa-search"></span>
    </button>
</div>
