<header class="navbar-fixed container-full">
    <nav class="bg-color">
        <div class="container">
            <div class="brand-logo">
                <a href="<%- url_for() %>">
                    <img src="<%- url_for(config.logo) %>" class="logo-img" alt="LOGO">
                </a>
            </div>
            <%- partial('_partial/navigation') %>
        </div>
    </nav>
</header>
