<div class="prev-next-wrapper">
    <div class="prev float-left">
        <% if (page.prev) { %>
            <i class="fas fa-chevron-left"></i>&nbsp;
            <a href="<%- url_for(page.prev.path) %>">
                上一篇: <%= page.prev.title %>
            </a>
        <% } %>
    </div>
    <div class="next float-right">
        <% if (page.next) { %>
            <a href="<%- url_for(page.next.path) %>">
                下一篇: <%= page.next.title %>
            </a>
            &nbsp;<i class="fas fa-chevron-right"></i>
        <% } %>
    </div>
</div>
    