#articleContent h1::before,
#articleContent h2::before,
#articleContent h3::before,
#articleContent h4::before,
#articleContent h5::before,
#articleContent h6::before {
  display: block;
  content: " ";
  height: 100px;
  margin-top: -100px;
  visibility: hidden;
}

#articleContent:focus {
  outline: none;
}

.toc {
  overflow-y: auto
}

.toc-fixed {
  position: fixed;
  top: 64px;
}

.toc-widget {
  width: 345px;
  padding-left: 20px;
}

.toc-widget .toc-title {
  padding: 1.5rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}
.toc-widget ol {
  padding: 0;
  list-style: none;
}

.toc>.toc-list {
  overflow: hidden;
  position: relative
}

.toc>.toc-list li {
  list-style: none
}

.toc-list {
  margin: 0;
  padding-left: 10px
}

a.toc-link {
  color: currentColor;
  height: 100%
}

.is-collapsible {
  max-height: 1000px;
  overflow: hidden;
  transition: all 300ms ease-in-out
}

.is-collapsed {
  max-height: 0
}

.is-position-fixed {
  position: fixed !important;
  top: 0
}

.is-active-link {
  font-weight: 700
}

.toc-link::before {
  background-color: #EEE;
  content: ' ';
  display: inline-block;
  height: inherit;
  /*left:0;*/
  margin-top: -1px;
  position: absolute;
  width: 2px
}

.is-active-link::before {
  background-color: #54BC4B
}

#toc-content {
  padding-bottom: 30px;
  overflow: auto;
}

#toc-content ol {
  padding-left: 10px;
}

#toc-content ol li {
  padding-left: 10px;
}

#toc-content .toc-link:hover {
  color: #42b983;
  font-weight: 700;
  text-decoration: underline;
}

#toc-content .toc-link::before {
  background-color: transparent;
  max-height: 25px;

  position: absolute;
  right: 23.5vw;
  display: block;
}

#toc-content .is-active-link {
  color: #42b983;
}

#floating-toc-btn {
  position: fixed;
  right: 15px;
  bottom: 76px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 998;
}

#floating-toc-btn .btn-floating {
  width: 48px;
  height: 48px;
}

#floating-toc-btn .btn-floating i {
  line-height: 48px;
  font-size: 1.4rem;
}